<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.updated_at) %> ago.
    <% if current_user?(micropost.user) %>
        <!--%= link_to "Edit", edit_micropost_path(micropost)%-->
        <!--%= link_to "Edit", edit_micropost_path(micropost), id: "micropost-form", remote: true %-->
        <%= link_to "Delete", micropost, method: :delete,
                                         data: { confirm: "You sure?" } %>
      <% end %>
    </span>
    <div id="micropost-form" style="display:none;"></div>
  </li>
