<!--
<div>
  <%= form_for(@micropost, url: micropost_path(params[:id])) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: @micropost.content %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>
-->

<%= render 'form' %>
